{% extends "admin/change_list.html" %}

{% block object-tools %}
    <div class="object-tools">
        <ul class="object-tools">
            <li>
                <a class="addlink" href="{% url 'admin:process_current_month' %}">
                    Process Current Month
                </a>
                
            </li>
            <li>
            <a class="addlink" href="{% url 'admin:send_current_month_payslips' %}">
                Send Current Month Payslips
            </a>
        </li>
        </ul>
    </div>
    {{ block.super }}
{% endblock %}